# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/
.env/

# Pytest & Robot Framework
.pytest_cache/
.robot_cache/

# Reports
.reports/
allure-report/
html-report/

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace



